*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* styling header */
.nav-item a{
    color: black;
    font-weight: bold;
}
.navbar{
    background-color: rgba(16, 67, 116, 0.315);
}
.nav-link img{
    border-radius: 100%;
}
.wrapper{
    position: relative;
}
.wrapper span{
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: black;
    font-size: 8px;
    border-radius: 50%;
}
/* styling header done */
/* styling carousel */
.carousel-control-prev i{
font-size: 50px;
color:  black;
}

.carousel-control-next i{
font-size: 50px;
color:  black;
}
/* styling carousel done */

/* styling content */
.tcard .card{
    text-align: center;
    border: 2px solid rgba(16, 67, 116, 0.315);
    box-shadow: 0 0 30px black;
    transition: 1s;
}
.tcard img{
    border-bottom: 2px solid rgba(16, 67, 116, 0.315);
}
.tcard .card:hover{
    transform: translateY(-20px);
}
.catbag{
    background-color: rgba(16, 67, 116, 0.315);
}
.catrow{
    text-align: center;
}
.categ img{
    border-radius: 100%;
    width: 350px;
    padding: 10px;
    transition: 1s;
    margin-bottom: 10px;
}
.categ img:hover{
    transform: scale(0.5);
}
/* styling content done */

/* styling footer */
.fbag{
    background-color: rgba(16, 67, 116, 0.315);
    text-align: center;
    padding: 20px 0;
}
.fbag h3{
    text-transform: capitalize;
}
.fbag a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
}
.fbag a:hover{
    color: rgba(16, 67, 116, 0.315);
}
.fbag img{
    padding-top: 10%;
}
.fcont i{
    color: black;
}
/* stlying footer done */

/* styling banner */
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(../img/816kznvSLAL._AC_UF350\,350_QL80_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.pagination a:hover{
    background-color: rgba(16, 67, 116, 0.315);
    color: white;
}
/* styling banner done */
/* styling details */
.det button:hover{
    color: gold;
}
.det .card{
    border: none;
}
.det .row{
    text-transform: capitalize;
}
.det .card-text{
    font-size: 20px;
    font-weight: bold;
}
/* styling details done */

/* styling contact */
.cform label{
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}
/* styling register */
.reg label{
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}
.reg form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid rgba(16, 67, 116, 0.315);
    box-shadow: 0 0 30px black;
    padding: 20px;
}
.reg input :focus{
    border: 2px solid rgba(16, 67, 116, 0.315);
    outline: none;

}
.reg button{
    width: 100%;
}
.reg h1{
    font-weight: bold;
}
.reg p{
    font-weight: 500;
    font-size: larger;
}
.reg span{
    color: rgba(16, 67, 116, 0.315);
}
.reg a{
    text-decoration: none;
    color: blue;
}
/* .pass{
    position: relative;
} */
.see{
    position: absolute;
    top: 105.5%;
    right: 32%;
    cursor: pointer;
}
.bi-eye-fill{
    display: none;
}
.see.hide .bi-eye-fill{
    display: block;
}
.see.hide .bi-eye-slash-fill{
    display: none;
}
/* styling register done */

/* styling cart */
.cart table{
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    text-transform: capitalize;
    border: 2px solid blue;
}
.cart thead{
    background-color: rgb(201, 225, 225);
}
.item td{
    border: 1px solid blue;
}
.item input{
    width: 20%;
}
.item i{
    color: red;
}
.subtot td{
    font-size: 20px;
    font-weight: 500;
}
/* styling cart done */

/* styling checkout */
.Checkout label{
    text-transform: capitalize;
    font-weight: 500;
}
.Checkout input:focus{
    border: 2px solid blue;
}
.Checkout button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
/* styling checkout done */

/* styling profile */
.pavat{
    text-align: center;
    background-color: rgb(201, 225, 225);
}
.pavat img{
    border-radius: 100%;
    margin-top: 3%;
    height: 150px;
}
.pavat h5{
    font-style: italic;
}
.pavat a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 20px;
}
.pavat a:hover{
    color: blue;
}
.pform form{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.pform label{
    text-transform: capitalize;
    font-weight: 500;
}
.pform button{
    width: 100%;
}
.thank{
    text-align: center;
}
.thank p{
    text-transform: capitalize;
    font-weight: 500;
}
.thank span{
    color: blue;
    font-style: italic;
}
.thank img{
    height: 200px;
}
/* styling profile done */

